<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
<meta charset="utf-8">
<title>Angular Mongo Example</title>
</head>

<body ng-controller="UserListController">
Search: <input ng-model="user"/>
<div>
    <ul class="users">
        <!-- the </li> is intentionally left off.        -->
        <!-- I will write a blog post about it one day.  -->
        <!-- Not that it matters at all in this example. -->
        <li ng-repeat="user in users | filter: user">{{ user.name }}
    </ul>
</div>

<form name="myform" id="myform1" ng-submit="save()">
    <fieldset>
        <legend>New User</legend>
        <div>
            <input type="text" placeholder="Enter a pointless username" ng-model="username" size="50" required/>
            <input type="password" placeholder="Enter an insecure password" ng-model="password" size="50" required/>
            <input type="email" placeholder="Enter a bogus email address" ng-model="email" size="50" required/>
        </div>
    </fieldset>
    <button type="submit">Add User</button>
</form>

<script src="assets/angular/angular.min.js"></script>
<script src="app/app-controller.js"></script>
</body>

</html>